.follow {
    width: 100%;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    background-color: #fff;
}

.follow-child {
    width: 110px;
    height: 135px;
    background: #fff;
    margin-left: 5px;
    margin-top: 5px;
    position: relative;
}

.follow-child-img {
    width: 110px;
    height: 135px;
}

.follow-child-gif {
    position: absolute;
    top: 0px;
    left: 0px;
}

.follow-child-gif img {
    width: 20px;
    height: 20px;
}