.buy-hover {
    width: 100%;
    height: 10000px;
    background-color: #333333;
    position: absolute;
    top: 0px;
    opacity:0.5;
    z-index: 1;
}
.goodsdetail-back {
    display: flex;
    background-color: #fff;
}
.goodsdetail-back-title {
    width: 300px;
    text-align: center;
    line-height: 50px;
    font-weight: 700;
    
}
.goodsdetail-back img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 15px;
}
.goodsdetail-Rotation img{
    width: 10rem;
    height: 10rem;
    margin-top: 1px;
}
.goodsdetail-introduction {
    margin-top: -7px;
}
.goodsdetail-introduction-price,.goodsdetail-introduction-share,.goodsdetail-introduction-afterSale {
    display: flex;
    background-color: #fff;
}
.goodsdetail-introduction-price {
    height: 50px;
    
}
.goodsdetail-introduction-price-left {
    line-height: 50px;
    font-size: 25px;
    color: red;
    width: 270px;
    margin-left: 10px;
}
.goodsdetail-introduction-price-right {
    margin-top: 9px;
    font-size: 15px;
    line-height: 40px;
}
.goodsdetail-introduction-share {
    height: 60px;
}
.goodsdetail-introduction-share-left {
    margin-left: 10px;
    width: 300px;
}
.goodsdetail-introduction-share-right img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
}
.goodsdetail-introduction-afterSale {
    margin-top: 1px;
    height: 35px;
    line-height: 35px;
}
.goodsdetail-introduction-afterSale-left {
    margin-left: 10px;
    font-size: 15px;
}
.goodsdetail-introduction-afterSale-right img{
    width: 20px;
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
.goodsdetail-introduction-spell-title {
    display: flex;
    margin-top: 10px;
    background-color: #fff;
}
.goodsdetail-introduction-spell-title {
    height: 40px;
    line-height: 40px;
}
.goodsdetail-introduction-spell-title img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 2px;
}
.goodsdetail-introduction-spell-title1 {
    margin-left: 10px;
}
.goodsdetail-introduction-spell-title2 {
    font-size: 12px;
    color: #9c9c9c;
    margin-left: 50px;
}
.goodsdetail-introduction-spell-title3 {
    font-size: 12px;
    color: #9c9c9c;
    margin-left: 185px;
}
.goodsdetail-introduction-spell-pictop{
    display: flex;
    background-color: #fff;
    margin-top: 1px;
    height: 60px;
    line-height: 60px;
}
.goodsdetail-introduction-spell-pictop img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 10px;
}
.goodsdetail-introduction-spell-pictop-name {
    width: 200px;
    margin-left: 15px;
}
.goodsdetail-introduction-spell-pictop-btn {
    width: 80px;
    height: 40px;
    line-height: 40px;
    background-color:#e02e24;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    color: #fff;
}
.goodsdetail-introduction-spell-label {
    display: flex;
    height: 50px;
    background-color: #fff;
}
.goodsdetail-introduction-spell-label div {
    height: 30px;
    text-align: center;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 5px;
}
.goodsdetail-introduction-spell-label1 {
    background-color: #daf8cd;
}
.goodsdetail-introduction-spell-label2 {
    background-color: #fdefee;
}
.goodsdetail-evaluate-text {
    background-color: #fff;
}
.goodsdetail-evaluate-text img{
    margin-left: 10px;
    margin-top: 5px;
}
.goodsdetail-evaluate-text p {
    margin-left: 5px;
    margin-top: 10px;
}
.goodsdetail-evaluate-text-txt {
    overflow: hidden;
    text-overflow:ellipsis;
    margin-left: 10px;
    height: 47px;
    margin-top: 5px;
}

.goodsdetail-detail img {
    width: 375px;
}
.title1, .title2 {
    text-align: center;
    background-color: #fff;
    padding: 5px;
}
.tabbar {
    display: flex;
    position:fixed;
    bottom: 0px;
    background-color: #fff;
    width: 100%;
    height: 64px;
}
.tabbar img {
    width: 30px;
    height: 30px;
    margin-top: 8px;

}
.tabbar1,.tabbar2,.tabbar3 {
    font-size: 15px;
    margin-left: 15px;
}
.tabbar4 {
    width: 115px;
    height: 64px;
    color: #fff;
    text-align: center;
    padding: 10px 0 0 0;
    margin-left: 10px;
    background-color: #f4aba7;
}
.tabbar5 {
    width: 115px;
    height: 64px;
    color: #fff;
    text-align: center;
    padding: 10px 0 0 0;
    background-color: #e02e24;
}
.buy {
    position:fixed;
    bottom: 0px;
    width: 100%;
    height: 550px;
    background-color: #f4f4f4;
    z-index: 2;
}
.buy-head {
    display: flex;
    text-align: center;
    line-height: 50px;
    background-color: #fff;
    
}
.buy-head-title {
    width: 360px;
}
.buy-head img{
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
}
.buy-address {
    display: flex;
    height: 60px;
    line-height: 30px;
    background-color: #fff;
    margin-top: 2px;
}
.buy-address img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}
.buy-img {
    display: flex;
    background-color: #fff;
    margin-top: 10px;
}
.buy-img img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.buy-img-num {
    display: flex;
}
.buy-img-num img {
    width: 30px;
    height: 30px;
}
.buy-img-price {
    margin-top: 10px;
    margin-left: 10px;
    color: #e02e24;
    font-size: 17px;
}
.buy-img-name {
    margin-top: 10px;
    margin-left: 10px;
}
.buy-img-add {
    text-align: center;
}
.buy-img-add-num {
    line-height: 46px;
    margin-left: 10px;
}
.buy-kind {
    display: flex;
    flex-wrap: wrap;
    /* height: 200px; */
    background-color: #fff;
}
.buy-kind div {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    height: 40px;
    line-height: 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}
.buy-kind-title {
    display: inline-block;
    margin-left: 10px;
    width: 100%;
}
.buy-buttom {
    position: fixed;
    bottom: 0px;
    text-align: center;
    background-color: red;
    color: #fff;
    width: 100%;
    height: 50px;
    line-height: 50px;
}